<div class="layout card">

  <p>Header</p>
  <!-- <div class="flex flex-column gap-2">
  <label for="username">Username</label>
  <input
    pInputText
    id="username"
    aria-describedby="username-help"
    [(ngModel)]="value"
    (ngModelChange)="logChange()"
  />
  <small id="username-help">
    Enter your username to reset your password.
  </small>
</div> -->
  <!-- <form [formGroup]="myForm" (ngSubmit)="handleSubmit()">

    <div class="card flex flex-column md:flex-row gap-3">
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
          pInputText
          placeholder="First Name"
          formControlName="firstName"
        />
      </p-inputGroup>

      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input
        pInputText
        placeholder="Last name"
        formControlName="lastName" />
      </p-inputGroup>


    </div>

    <div class="card flex justify-content-center">
      <p-button type="submit" label="Sign Up" icon="pi pi-check" iconPos="right" />
    </div>
  </form> -->

</div>
